{% extends 'base.html.twig' %}

{% block title %}Nouvelle Tache{% endblock %}

{% block body %}
    <div class="page-body">
        <div class="container-xl">
            <div id="stream-id">

            </div>

            <div class="row row-deck row-cards">
                <div class="col-12">

                    <div class="card">
                        <div class="card-body" style="height: 10rem">
                            {{ include('task/_form.html.twig') }}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
