<turbo-stream action="replace" target="stream-id">
    <template>
        <div class="alert alert-success" role="alert">
            <h4 class="alert-title">Streams are here</h4>
            <div class="text-muted">La tache "{{ task.label }}" a été créée</div>
        </div>
    </template>
</turbo-stream>
